/* Home.module.css */
.pokedex {
    display: flex;
    background-color: #e0000f;
    border: 5px solid #000;
    border-radius: 15px;
    padding: 20px;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.leftPanel,
.rightPanel {
    flex: 1;
    padding: 20px;
    background-color: #ff0000;
    border: 5px solid #000;
    border-radius: 10px;
    margin: 0 10px;
    position: relative;
}

.leftPanel {
    background-color: #ff0000;
}

.rightPanel {
    background-color: #ff0000;
}

.camera {
    width: 60px;
    height: 60px;
    background-color: #00f;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.screen {
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 100px;
}

.resultScreen {
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}